/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 15px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(200,200,200);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  right: 20px;
  top: 20px;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross #bdc3c7 */
.bm-cross {
  left: 0px;
  top: -1px;
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  top: 0;
  position: fixed;
  height: 300px;
  overflow: hidden;
}

/* General sidebar styles */
.bm-menu {
  overflow: hidden !important;
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white !important;
  padding: 0.8em;
  font-size: 25px;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: rgb(200, 200, 200);
}

body {
    background: #444;
    color: #fffce1;
}