[flake8]
# Base flake8 configuration:
# https://flake8.pycqa.org/en/latest/user/configuration.html
# show-source=True
statistics=False
doctests=True
enable-extensions=G

# Plugins:
max-complexity=6
max-line-length=120

# Excluding some directories:
exclude = .git,__pycache__,.venv,.eggs,*.egg

# Exclude some pydoctest checks globally:
ignore=D100, D104, D106, D401, W504, X100, RST303, RST304, DAR103, DAR203, W503, E203

# Ignoring some errors in some files:
per-file-ignores =
  # Enable `assert` keyword and magic numbers for tests:
  tests/*.py: S101, WPS226, WPS432
