[tool.poetry]
name = "dash-extensions"
version = "1.0.0"
description = "Extensions for Plotly Dash."
authors = ["emher <emil.h.eriksen@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://dash-extensions.com"
repository = "https://github.com/thedirtyfew/dash-extensions"

[tool.poetry.dependencies]
python = ">=3.8,<4"
dash = ">=2.9.3"
more-itertools = "^9.0.0"
jsbeautifier = "^1.14.3"
Flask-Caching = "2.0.2"
dash-mantine-components = {version = "^0.11.1", optional = true}

[tool.poetry.extras]
mantine = ["dash-mantine-components"]

[tool.poetry.dev-dependencies]
dash = {extras = ["dev", "testing"], version = "^2.8.1"}
pytest-cov = "^4.0.0"
black = "^22.12.0"
pandas = ">=1.5.3"
quart = "^0.18.3"
starlette = "^0.25.0"
uvicorn = "^0.20.0"
sse-starlette = "^1.2.1"
urllib3 = "^1.26.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ["py39"]
