[tool.poetry]
name = "dash-extensions"
version = "0.0.72rc1"
description = "Extensions for Plotly Dash."
authors = ["emher <emil.h.eriksen@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
dash = "^2.2.0"
more-itertools = "^8.12.0"
jsbeautifier = "^1.14.0"
Flask-Caching = "^1.10.1"

[tool.poetry.dev-dependencies]
dash = {extras = ["dev", "testing"], version = "^2.2.0"}
pytest-cov = "^3.0.0"
pytest-cookies = "^0.6.1"
black = "^22.1.0"
pytest = "^7.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ["py39"]