[tool.poetry]
name = "dash-extensions"
version = "0.1.0rc10"
description = "Extensions for Plotly Dash."
authors = ["emher <emil.h.eriksen@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7"
dash = "^2.3.0"
more-itertools = "^8.12.0"
jsbeautifier = "^1.14.0"
Flask-Caching = "^1.10.1"

[tool.poetry.dev-dependencies]
dash = {extras = ["dev", "testing"], version = "^2.3.1"}
pytest-cov = "^3.0.0"
black = "^22.1.0"
pandas = "^1.4.1"
quart = "^0.17.0"
starlette = "^0.19.0"
uvicorn = "^0.17.6"
sse-starlette = "^0.10.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ["py39"]