# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
    release:
        types: [created]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v3
              with:
                  node-version: 18
                  registry-url: https://registry.npmjs.org/
            # - name: Set up Python
            #   uses: actions/setup-python@v4
            #   with:
            #       python-version: '3.12'
            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  python-version: '3.12'
            - name: Enable uv cache
              uses: astral-sh/setup-uv@v5
              with:
                  enable-cache: true
            - name: Install the project
              run: uv sync --all-extras --dev
            - name: Build and publish to npm
              run: |
                  uv run npm install | echo "Ignore npm install error"
                  uv run npm run build
                  uv run npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: Build and publish to pypi
              run: |
                  uv build
                  uv publish --username=${{ secrets.PYPI_USERNAME }} --password=${{ secrets.PYPI_PASSWORD }}
